body,html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

footer {
	text-align: center;
	font-size: 14px;
	padding: 20px;
}

footer a {
	color: #999;
	text-decoration: none;
}
.weui-input[type=text]{
	border: 1px solid #ccc;height: 30px;
}
.weui-textarea{
	border: 1px solid #ccc;
}
.weui-label{width: 70px !important;margin-right: 3px;}

.demos-title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
      width: 100%;
    margin-left: 0;
}
.weui-uploader__file>span{display: none;}